<div class="header" >
  <h2>Employee</h2>
  <button mat-flat-button color="primary" (click)="addOrEdit()" class="addButton"> Add Employee</button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let element"> {{element?.firstName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let element"> {{element?.lastName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Position </th>
    <td mat-cell *matCellDef="let element"> {{element?.position | position}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="birthDate">
    <th mat-header-cell *matHeaderCellDef> Birth Date </th>
    <td mat-cell *matCellDef="let element"> {{element?.birthDate.toDate() | date: 'dd/MM/yyyy' }} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="addOrEdit(element)">
        <mat-icon>create</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="delete(element)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
