<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer  class="sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="/task" routerLinkActive="active">Tasks</mat-list-item>
      <mat-list-item role="listitem" routerLink="/employee" routerLinkActive="active">Employees</mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>ToDo</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon (click)="logout()">login</mat-icon>
    </button>
  </mat-toolbar>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
